.AppWrapper {
    min-height: 100vh;
    display: flex;
    font-family: "Cascadia Code";
}

.MainContainerStyle {
    background: linear-gradient(30deg, rgb(255, 255, 255) 0%, rgb(115, 62, 155) 100%);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LogoContainer {
    justify-content: center;
    transform: translate(-30%, 0vh);
}

.Logo {
    font-size: 6vh;
    margin-top: -10vh;
    font-weight: bold;
    color: #333333;
}

.TextUnderLogo {
    color: #2c2c2c;
    font-size: 4vh;
    font-weight: lighter;
    color: #333333;
}


.MainContainer {
    background-color: #ffffff;
    width: 20%;
    transform: translate(10%, -10vh);
    height: 35vh;
    margin-top: 5%;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TxtBoxStyle {
    margin-left: 2%;
    font-size: 3vh;
    padding-left: 1vh;
    margin-top: -3vh;

}

.TxtBox1,
.TxtBox2 {
    margin-top: 2vh;
    width: 95%;
    height: 5vh;
    border: 1px solid #dddfe2;
    border-radius: 1vh;
    padding-left: 1vh;
    font-size: 1.5vh;
    font-family: "Cascadia Code";
}

.TxtBox1:focus,
.TxtBox2:focus {
    outline: none;
}

.LoginButton, .Register {
    padding: 12.5px 20px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.LoginButton {
    background-color: #333333;
    color: #fff;
    font-size: 2vh;
    font-weight: bold;
    width: 95%;
    margin-top: 1vh;
}

.LoginButton:hover {
    background-color: #333333;
}

.ForgotPassword {
    font-size: 1.5vh;
    color: #733E9BFF;

    margin-left: 27.5%;
}

.Underline {
    background-color: #dddfe2;
    margin-top: 1vh;
    height: 1px;
    width: 95%;
}

.Register {
    background-color: #28C76F;
    color: #fff;
    font-size: 1.75vh;
    margin-top: 1.75vh;
    margin-left: 17%;
}

.Register:hover {
    background-color: #2bd377;
}

/* Mobile styles (max-width: 1500px) */
@media only screen and (max-width: 1500px) {
    .MainContainer {
        width: 40%;
        transform: translate(0%, 0vh);
        padding: 20px;
        margin-top: -5vh;
    }

    .Logo {
        display: none;
    }

    .LoginButton {
        width: 90%;
        margin-left: 5%;
    }

    .TextUnderLogo {
        display: none;
    }

    .TxtBoxStyle {
        margin-left: 0;
    }

    .TxtBox1,
    .TxtBox2 {
        width: 100%;
    }

    .ForgotPassword {
        margin-left: 37.5%;
    }

    .Register {
        width: 60%;
    }

    /* Mobile styles (max-width: 1000px) */
    @media only screen and (max-width: 1000px) {
        .MainContainer {
            width: 40%;
            height: 50%;
        }

        .Register {
            width: 80%;
            margin-left: 2.5vh;
        }

        .TxtBoxStyle {
            margin-left: 2%;
            font-size: 3vh;
            padding-left: 1vh;
            margin-top: -5vh;
        }

        .LoginButton {
            margin-top: 3vh;
            margin-bottom: 2vh;
        }

        .ForgotPassword {
            margin-left: 32.5%;
        }

        /* Mobile styles (max-width: 800px) */
        @media only screen and (max-width: 800px) {
            .MainContainer {
                width: 70%;
            }

            .Register {
                margin-left: 10%;
            }

            .ForgotPassword {
                margin-left: 36.5%;
            }

            /* Mobile styles (max-width: 520px) */
            @media only screen and (max-width: 520px) {
                .ForgotPassword {
                    margin-left: 30%;
                }
            }
        }
    }
}