.container {
    margin: 2.5vh 2.5vh;
    font-family: "Cascadia Code";
    font-size: 1.75vh;
}

.text {
    padding: 20px;
    text-align: center;
}

.Hometext1 {
    font-weight: bold;
    font-size: 3.5vh;
    margin-bottom: 2vh;
}

.ctaButton {
    background-color: #333333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 5%;
    font-size: 1.5vh;
    transition: background-color 0.3s ease;

    margin-bottom: 2vh;
}

.ctaButton:hover {
    background-color: #733e9b;
    transition: background-color 0.3s ease;
}

.whitespace {
    margin-bottom: 2vh;
}

.DietaryRestrictions {
    text-align: center;
    font-size: 2vh;
    font-weight: bold;
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .text {
        max-width: 100%;
        text-align: center;
    }
}


@media (min-width: 801px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
    }


    .box {
        display: block;
        width: 45.5%;
        height: 60vh;
        background-color: #ccc;
        border: 1px solid #ffffff;
    }
}
