.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    font-family: "Cascadia Code";
}

.text {
    max-width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 1.75vh;

}

.Hometext1 {
    font-weight: bold;
    font-size: 3.5vh;
    margin-bottom: 2vh;
}

.ctaButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 1%;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ctaButton:hover {
    background-color: #0056b3;
}

.whitespace {
    margin-bottom: 2vh;
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .text {
        max-width: 100%;
        text-align: center;
    }
}


@media (min-width: 801px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
    }


    .box {
        display: block;
        width: 45.5%;
        height: 60vh;
        background-color: #ccc;
        border: 1px solid #ffffff;
    }
}
